.section {
  position: relative;
  z-index: -1;
  background: #ffffff;
  margin-top: -150px;
  padding-top: 150px;
  min-height: 100vh;
}

@media (max-width: 1200px) {
  .section {
    margin-top: -80px;
    padding-top: 130px;
  }
}

@media (max-width: 768px) {
  .section {
    margin-top: -60px;
    padding-top: 110px;
  }
}